@import "normalize";
@import "variables";
@import "utils";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: $backgroundColorGeneral;
}

.backgroundBlend {
    background-image: url("assets/Gradient.svg");
    background-size: cover;
}

// splash screens
.backgroundColorOnBoarding {
    background-color: $primary;
}

.splashLogo {
    border-style: none;
    width: 155px;
}

.splashLogoContainer {
    display: flex;
    justify-content: center;
    margin-top: 90%;
    align-items: center;
}

//detalheOferta.html
.backgroundImageOffer {
    background-image: url("assets/image 303.svg");
    background-size: cover;
    height: 266px;
}
.backgroundImagePartner {
    background-image: url("assets/Frame\ 18.svg");
    background-size: cover;
    height: 266px;
}

.imageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80%;
    & div:first-child {
        margin-top: auto;

        font-size: 32px;
        font-weight: 600;
        color: $white;
        margin-left: 18px;
    }
}
.imageContentPartner {
    height: 40%;
}

.nosImage {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.offerTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 18px 18px 18px;
    & article:first-child {
        color: $white;
        font-size: 16px;
        font-weight: 400;
    }
    & div:last-child {
        background-color: $secondaryBlue;
        border-radius: 99px;
        padding: 8px 16px 8px 16px;
        font-size: 12px;
        font-weight: 500;
    }
}

//top bar
.navColorFill {
    background-color: $backgroundColorGeneral;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbarTop {
    height: 3.5rem;
    display: flex;
}

.leftIconOrganizer {
    display: flex;
    align-items: center;
}
.iconOrganizer {
    display: flex;
    justify-content: end;
    align-items: center;
    & a:nth-child(1) {
        margin-right: 24px;
    }
    & a:nth-child(2) {
        margin-right: 24px;
    }
}

.oneIconOrganizer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.backArrow {
    margin-top: 10px !important;
}

//onboarding pages

.container {
    flex-direction: column;
    height: 100vh;
    display: flex;
}
.onBoardingIllustration {
    & img {
        width: 100vw;
    }
    margin-bottom: 1px;
    line-height: 0;
    flex: 1;
}

.bottomSheet {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bottomSheetDiv {
    margin: 40px 30px 0 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.7em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    flex: 1;
}
.bottomSheetDiv {
    margin: 40px 30px 0 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.7em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    flex: 1;
}

.bottomSheetDiv2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9.3em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.bottomSheetSubText {
    line-height: 21px;
    flex: 1;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.buttonOnBoarding {
    margin: auto;
    width: 80%;
    height: 3.5em;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.loginBoarding {
    margin-top: 10px;
}

.dotsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 25px;
    margin: 36px 0;
    align-items: center;
}

.bigDot {
    background-color: $primary;
    width: 15px;
    height: 5px;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.smallDot {
    background-color: $primary;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 0 5px 0 0;
}
//detalheOferta.html
.partnerCardOrganizer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 24px;
}

.partnerCard {
    // background-color: $white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);

    & div {
        padding: 16px;
    }
    & div div a {
        text-decoration: none;
        color: $primary;
    }
}

.tagsOrganizer {
    & article {
        display: flex;
        flex-wrap: wrap;
    }
}

.tagsContatent {
    background-color: $tagColor;
    border-radius: 99px;
    margin: 4px;
    padding: 8px 16px;
    display: flex;
    & img {
        margin-right: 8px;
    }
}

.partnerButtonOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 100px;

    & div {
        text-align: center;
    }
    & div a {
        text-decoration: none;
        color: $black;
    }
}

.offerButton {
    color: $white;
    background-color: $primary;
    padding: 12.5px 99px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.partnerButton {
    color: $white;
    background-color: $primary;
    padding: 12.5px 50px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

//ofertas.html
.offerContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    & div:first-child {
        font-size: 28px;
        font-weight: 600;
    }
    & p:last-child {
        margin: 0;
        color: $textGrey;
        font-size: 16px;
        font-weight: 400;
    }
}

//sliders horizontais
.horizontalSlider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

/*this is for chrome / firefox/ opera and safari*/
.horizontalSlider::-webkit-scrollbar {
    display: none;
}

/* for ms*/
.horizontalSlider {
    -ms-overflow-style: none;
}

.sliderContainer {
    display: block;
    white-space: nowrap;
    margin-left: 10px;
    & div {
        display: inline-block;
    }
}

.item {
    &img {
        width: 160px;
        height: 220px;
        object-fit: cover;
        border-radius: 14px;
    }
}
.sliderPartners {
    display: block;
    white-space: nowrap;
    margin-left: 16px;
    margin-bottom: 50px;
    & div {
        display: inline-block;
    }
}
//home
.sliderHome {
    display: block;
    white-space: nowrap;
    margin-left: 12px;
    margin-bottom: 34px;
    & div {
        display: inline-block;
    }
    & div a img {
        height: 130px;
        width: 130px;
    }
}

.offersSlider {
    margin-left: 16px;
    & div {
        margin: 0 8px 10px 8px;
    }
}

.homeSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    // margin: 24px 26px 16px 24px;
    & div:first-child {
        font-size: 26px;
        font-weight: 600;
    }
    & div:last-child {
        text-align: end;
        font-size: 14px;
        font-weight: 500;
    }
}

.newSection {
    margin-bottom: 18px;
}

.itemPartner img {
    width: 90px;
    height: 116px;
    object-fit: cover;
    margin-left: 16px;
}

.textSlider {
    margin-left: 24px;
    margin-bottom: 24px;

    & div {
        background-color: $tagColor;
        padding: 4px 16px;
        border-radius: 8px;
        margin-right: 8px;
        &:hover {
            background-color: $secondaryBlue;
        }
    }
}
.homeTextSlider {
    & div {
        padding: 12px 16px;
        background-color: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        font-weight: 600;
        line-height: 21px;
    }
}

.offerImages {
    & div {
        margin-bottom: 8px;
    }
    & div:last-child {
        margin-bottom: 30px;
    }
    & div a img {
        border-radius: 14px;
        width: 100%;
    }
}

//
//bottom nav

#bottomNav {
    display: flex;
    justify-content: center;
}

.floatingNavbarOrganizer {
    height: 3.7rem;
    background-color: $white;
    box-shadow: $borderShaddow;
    border-radius: 40px;
    width: 15.5rem;
    position: fixed;
    bottom: 6%;
    transition: bottom 0.5s;
}

.floatingNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    & a {
        height: 34px;
    }
}

//class to hide bottom nav
.navHidden .floatingNavbarOrganizer {
    bottom: -100vh;
}

//qrcodeSlide

.qrCode {
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.2s ease;
    bottom: -100vh;
}

.slideUpQrcodeON {
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 0.5s ease;
    z-index: 3;
    bottom: 0;
}

.filterDark {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    filter: brightness(0.4);
}

.qrCodeClickOffFormat {
    width: 40px;
    height: 5px;
    background-color: $black;
    border-radius: 100px;
    margin: 24px 0;
}

.qrCodeOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    & div:nth-child(2) {
        font-size: 32px;
        font-weight: 600;
    }
    & div:nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        color: $textGrey;
        margin-bottom: 32px;
    }
    & div:nth-child(5) {
        color: $primary;
        font-size: 20px;
        font-weight: 500;
        margin-top: 42px;
    }
}
//number count on referrals
.referralContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 16px;

    & div:first-child {
        font-size: 28px;
        font-weight: 600;
    }
    & p:last-child {
        margin: 0;
        color: $textGrey;
        font-size: 16px;
        font-weight: 400;
    }
}

.referralCount {
    display: flex;
    flex-direction: column;
    padding: 0;
    & li {
        list-style-type: none;
        position: relative;
    }
    & li::before {
        content: "1";
        font-size: 36px;
        font-weight: 600;
        position: absolute;
        width: 64px;
        height: 64px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        background-color: $white;
        text-align: center;
        border-radius: 50%;
        left: 0px;
        //transform: translate( 0%, 0px);
    }
    & li::after {
        content: "";
        height: 50px;
        border-left: 1px dashed $textGrey;
        position: absolute;
        left: 32px;
        z-index: -1;
    }
    & li:nth-child(1):before {
        content: "1";
        color: $iconBlue;
        top: 0;
    }
    & li:nth-child(1):after {
        top: 55px;
    }
    & li:nth-child(2):before {
        content: "2";
        color: #00eca5;
        top: 84px;
    }
    & li:nth-child(2):after {
        top: 144px;
    }
    & li:nth-child(3):before {
        content: "3";
        color: #78df70;
        top: 169px;
    }
}
.referralsStepsText {
    margin-left: 82px;
}

.referralsTitle {
    font-weight: 500;
    margin: 0;
    line-height: 21px;
}
.referralsText {
    font-weight: 400;
    margin: 0;
    margin-bottom: 42px;
    color: $textGrey;
    line-height: 21px;
}
.referralsInfo {
    font-weight: normal;
    margin-top: 22px;
    & p {
        margin: 0;
    }
}

.labelIcon {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    & div {
        position: absolute;
        right: 18px;
        top: 14px;
    }

    & input {
        background-color: rgba(198, 198, 198, 0.2);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        border: 0;
        height: 45px;
        width: 100%;
        padding-left: 12px;
    }
}

//cupóes

.historySelection {
    & article:first-of-type {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        height: 32px;
        margin-bottom: 16px;
    }
}
.stantardOrganizer {
    width: 49%;
    height: 10%;
    text-align: center;
    width: 50%;
    height: 26px;
}
.historyOrganizer {
    text-align: center;
    background-color: $secondaryBlue;
    border-radius: 8px;
    width: 50%;
    height: 26px;
    font-weight: 500;
}
//notificacoes
.notiCard {
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #d0d0d0;
    background-color: $white;
    margin-bottom: 16px;

    & article:nth-child(1) {
        padding: 18px;
    }
    & article:nth-child(2) {
        padding: 0 18px 18px 18px;
    }
    & article:nth-child(2) div {
        color: $primary;
        margin: 6px 0;
    }
    & article:nth-child(2) ul {
        font-size: 12px;
        color: $textGrey;
    }
}

.cuponCard {
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #d0d0d0;
    background-color: $white;
    margin: 16px 24px;

    & article:nth-child(1) {
        padding: 18px;
    }
    & article:nth-child(2) {
        padding: 0 18px 18px 18px;
    }
    & article:nth-child(2) div {
        color: $primary;
        margin: 6px 0;
    }
    & article:nth-child(2) ul {
        font-size: 12px;
        color: $textGrey;
    }
}
.cuponCardTitle {
    display: flex;
    justify-content: space-between;
    & div div:first-child {
        font-weight: 600;
        font-size: 18px;
    }
}

//carteira.html
.linearCircle {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        height: 500px;
        width: 800px;
        border-radius: 50%;
        background-color: $secondaryBlue;
        top: -257px;
        right: -381px;
        z-index: -1;
    }
}

.userCardContainer {
    padding: 16px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(1, 142, 170, 0.04);
    margin-top: 28px;
    margin-bottom: 32px;
}

.userCardTop {
    display: flex;
    align-items: center;
}

.userInfo {
    & p {
        margin: 0;
    }
    & p:first-child {
        font-size: 24px;
        font-weight: 600;
        & span {
            font-weight: 600;
            color: $primary;
        }
    }
    & p:last-child {
        font-size: 12px;
        color: #959595;
        font-weight: 500;
        & span {
            color: $primary;
            font-weight: 400;
        }
    }
}

.userGift {
    display: flex;
    & img {
        margin-top: 12px;
    }
    & p {
        margin: 12px 0 0 12px;
        font-size: 12px;
        font-weight: 500;
        & span {
            color: $primary;
        }
    }
}

.offerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    & div:first-child {
        font-size: 26px;
        font-weight: 600;
    }
    & div:last-child {
        font-size: 14px;
        font-weight: 500;
        text-align: end;
    }
}

//notificacoes.html

.notificationGrey {
    color: $textGrey;
    margin-top: 12px;
}

.notificationBefore {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        border-radius: 50px;
        background-color: #ff6565;
        z-index: 1;
        right: 10px;
        top: 10px;
    }
}

.notificationImg {
    margin-bottom: 30px;
    & div a img {
        border-radius: 14px;

        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}
.notificationText {
    & p {
        margin: 0;
    }
    & p:last-child {
        padding-bottom: 50px;
    }
}

//box.html
.progressBar {
    margin: 8px 28px;
    height: 6px;
    width: 280px;
    background-color: $gray;
    border-radius: 8px;
    position: relative;

    & div:first-child {
        height: 6px;
        width: 160px;
        background-color: $primary;
        border-radius: 8px;
    }
    &::before,
    &::after {
        font-size: 12px;
        font-weight: 500;
        top: 5px;
    }
    &:before {
        content: "301";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 140px;
    }
    &:after {
        content: "600";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 258px;
        color: $gray;
    }
}

.boxButton {
    color: $white;
    background-color: $gray;
    padding: 12.5px 61px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.boxText {
    font-weight: 400;
    margin: 40px 28px;
    & p {
        margin: 0;
    }
    & ul {
        margin: 0;
        padding-left: 24px;
    }
}

.boxImg {
    display: flex;
    justify-content: center;
    & div a img {
        border-radius: 32px;
        padding: 16px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

//login
.profileTitleLogin {
    display: flex;
    flex-direction: column;
    margin: 209px 20px 0 20px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
        color: $black;
        margin: 0;
    }
    & span {
        font-size: 16px;
        color: $textGrey;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}

//register
.profileTitleRegister {
    display: flex;
    flex-direction: column;
    margin: 42px 20px 0 20px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
        color: $black;
        margin: 0;
    }
    & span {
        font-size: 16px;
        color: $textGrey;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}

.formContainer {
    margin-top: 24px;
    & #fname {
        width: 100%;
        height: 40px;
        background-color: $secondaryBlue;
        border-radius: 8px;
        border: none;
        margin: 10px 0 20px 0;
        padding: 12px 20px;
        box-sizing: border-box;
    }
    & label span {
        color: red;
    }
}

.registerButton {
    color: $white;
    background-color: $primary;
    height: 42px;
    border-radius: 8px;
    border: none;
    margin: 24px 20px 7px 20px;
    width: 80%;
    max-width: 400px;
}

.login {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    & span {
        font-size: 12px;
        & span {
            border-bottom: solid 1px;
        }
    }
}
.forgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    & span {
        font-size: 12px;
        border-bottom: solid 1px;
    }
}
.alternativeLoginOrganizer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lastOfPage {
    margin-bottom: 40px;
}
.alternativeLogin {
    display: flex;
    align-items: center;
    padding-left: 24px;
    color: black;
    background-color: $white;
    height: 40px;
    border: $gray solid 1px;
    border-radius: 20px;
    margin: 16px 20px 0px 20px;
    width: 80%;
    max-width: 400px;
    & a {
        width: 100%;
    }
    & a div {
        display: flex;
        & p {
            width: 100%;
        }
    }
}

//home
.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
    height: 100px;
    & span {
        display: block;
        font-size: 12px;
        font-weight: 500;
    }
    & span:nth-child(2) {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 600;
    }
}

.searchOrganizer {
    display: flex;
    justify-content: center;
}

.searchlabel {
    position: relative;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
    & div {
        position: absolute;
        right: 12px;
        top: 12px;
        height: 16px;
        width: 16px;
    }
    & input {
        background-color: $white;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.04));
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        border: 0;
        height: 40px;
        padding: 0;
        width: calc(100% - 12px);
        padding-left: 12px;
    }
}

//media part

.mediaContainer {
    display: flex;
    margin: 10px 0 20px 18px;
    & .imageDescription {
        position: relative;
        margin: 0 8px;
        & p {
            font-size: 12.5px;
            font-weight: 500;
            margin: 0;
            margin-top: 2px;
        }
        & span {
            font-size: 12.5px;
            font-weight: 500;
            color: $textGrey;
        }
        & h4 {
            margin: 0;
            color: $primary;
            font-weight: 600;
        }
    }
}

.mediaIconSection {
    background-color: $secondaryBlue;
    border-radius: 20px;
    width: 98px;
    height: 24px;
    top: 12px;
    right: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    & p:first-of-type {
        font-size: 12px;
        font-weight: 500;
        color: $black;
        margin-left: 5px;
        margin-top: 0;
    }
}

//mediapage

.imageMedia {
    & p {
        font-size: 12.5px;
        font-weight: 500;
        margin: 0;
        margin-top: 2px;
    }
    & span {
        font-size: 12.5px;
        font-weight: 500;
        color: $textGrey;
    }
    & h4 {
        margin: 0;
        color: $primary;
        font-weight: 600;
    }
}
.imageIconMediaRelative {
    position: relative;
}

.imageIconMedia {
    background-color: $secondaryBlue;
    border-radius: 20px;
    width: 98px;
    height: 24px;
    bottom: 144px;
    right: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    & p:first-of-type {
        font-size: 12px;
        font-weight: 500;
        color: $black;
        margin-left: 5px;
        margin-top: 0;
    }
}

.youtubeVideo {
    height: 0;
    padding-bottom: percentage(10/18);
    position: relative;
    margin-top: 0 !important;
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
.instaVideo {
    height: 100%;
    padding-bottom: percentage(10/18);
    position: relative;
    margin-top: 0 !important;
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

// Menu title

.profileTitle {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    & h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }
    & span {
        font-size: 16px;
        color: $textGrey;
        line-height: 24px;
    }
    & label {
        font-size: 12px;
    }
}

// Menu sections

.topSection {
    margin-top: 24px;
}

.sectionContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    & span {
        display: flex;
        flex: 1;
        padding: 20px 20px 20px 0;
        font-size: 16px;
        font-weight: 600;
    }
    & .avatar {
        margin-right: 10%;
    }
}

section.bottomSection {
    margin-top: 160px;
    margin-bottom: 80px;
}

.blueLineContainer {
    display: flex;
    justify-content: center;
}
.blueLine {
    width: 279px;
    background-color: $primary;
    opacity: 10%;
    height: 1px;
}

// Personal Data Form

.dataButton {
    color: $white;
    background-color: $primary;
    height: 42px;
    border-radius: 8px;
    border: none;
    margin: 20px 0 100px 0;
}

// Help Page

.helpBoxesContainer {
    margin-top: 40px;
    & .helpBoxes {
        height: 80px;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        border-radius: 14px;
        margin-bottom: 24px;
        & .helpIcon {
            margin: 0 20px;
        }
        & .helpText {
            display: flex;
            flex: 1;
            flex-direction: column;
            & span {
                font-size: 18px;
                font-weight: 600;
            }
            & p {
                margin-top: 5px;
                font-size: 14px;
                font-weight: 400;
                color: $primary;
            }
        }
    }
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 80px;
    & span {
        text-align: center;
    }
}

//
// toggle
.form-switch i {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    transition: all 0.3s linear;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        background-color: #fff;
        border-radius: 11px;
    }
    &::before {
        width: 42px;
        height: 22px;
        transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
        transition: all 0.25s linear;
    }
    &::after {
        width: 22px;
        height: 22px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
        transform: translate3d(2px, 2px, 0);
        transition: all 0.2s ease-in-out;
    }
}

.form-switch input {
    display: none;
}
.form-switch input:checked + i {
    background-color: $primary;
}
.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}
