@import "normalize";
@import "variables";
@import "utils";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: $backgroundColorGeneral;
}

.backgroundBlend {
    background-image: url("assets/Gradient.svg");
    background-size: cover;
}

//detalheOferta.html
.backgroundImageOffer {
    background-image: url("assets/image 303.svg");
    background-size: cover;
    height: 266px;
}
.backgroundImagePartner {
    background-image: url("assets/Frame\ 18.svg");
    background-size: cover;
    height: 266px;
}

.imageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    & div:first-child {
        font-size: 32px;
        font-weight: 600;
        color: $white;
        margin-left: 18px;
    }
}
.nosImage {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.offerTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 18px 18px 18px;
    & article:first-child {
        color: $white;
        font-size: 16px;
        font-weight: 400;
    }
    & div:last-child {
        background-color: $secundaryBlue;
        border-radius: 99px;
        padding: 8px 16px 8px 16px;
        font-size: 12px;
        font-weight: 500;
    }
}

//top bar
.navColorFill {
    background-color: $white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbarTop {
    height: 3.5rem;
    display: flex;
    & div:first-child {
        margin-top: 4px;
    }
}
.iconOrganizer {
    display: flex;
    justify-content: end;
    & div:nth-child(1) {
        margin: 10px 7px 0 0;
    }
    & div:nth-child(2) {
        margin: 10px 7px 0 7px;
    }
    & div:nth-child(3) {
        margin: 10px 0 0 7px;
    }
}

.backArrow {
    margin-top: 10px !important;
}

//onboarding pages
.onBoardingIllustration {
    & img {
        line-height: 0;
        width: 100vw;
        object-fit: cover;
    }
    margin-bottom: 1px;
    line-height: 0;
    flex: 1;
}

.bottomSheet {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-bottom: auto;
}

.bottomSheetDiv {
    margin: 40px 30px 0 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.7em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    flex: 1;
}
.bottomSheetDiv2 {
    margin: 40px 20px 40px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9.3em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.bottomSheetSubDiv {
    margin: 40px;
}
.bottomSheetSubText {
    line-height: 21px;
    flex: 1;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.buttonOnBoarding {
    margin: auto;
    width: 80%;
    height: 3.5em;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.login {
    margin-top: 10px;
}

.dotsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    height: 25px;
    align-items: center;
}

.bigDot {
    background-color: $primary;
    width: 15px;
    height: 5px;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.smallDot {
    background-color: $primary;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 0 5px 0 0;
}
//detalheOferta.html
.partnerCardOrganizer {
    display: flex;
    justify-content: center;
}

.partnerCard {
    // background-color: $white;
    margin: 16px 18px 24px 18px;
    padding: 18px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);

    & div div a {
        text-decoration: none;
        color: $primary;
    }
}

.tagsOrganizer {
    & article {
        display: flex;
        flex-wrap: wrap;
        margin-left: 14px;
    }
}

.tagsContatent {
    background-color: $tagColor;
    border-radius: 99px;
    margin: 4px;
    padding: 8px 16px;
    display: flex;
    & img {
        margin-right: 8px;
    }
}

.partnerButtonOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 50px;

    & div a {
        text-decoration: none;
        color: $black;
    }
}

.offerButton {
    color: $white;
    background-color: $primary;
    padding: 12.5px 99px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.partnerButton {
    color: $white;
    background-color: $primary;
    padding: 12.5px 50px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

//ofertas.html
.offerContent {
    display: flex;
    flex-direction: column;
    margin: 16px 20px 24px 20px;
    & div:first-child {
        font-size: 28px;
        font-weight: 600;
    }
    & p:last-child {
        margin: 0;
        color: $textGrey;
        font-size: 16px;
        font-weight: 400;
    }
}

//sliders horizontais
.horizontalSlider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

/*this is for chrome / firefox/ opera and safari*/
.horizontalSlider::-webkit-scrollbar {
    display: none;
}

/* for ms*/
.horizontalSlider {
    -ms-overflow-style: none;
}

.sliderContainer {
    display: block;
    white-space: nowrap;
    margin-left: 6px;
    & div {
        display: inline-block;
    }
}

.item img {
    width: 160px;
    height: 220px;
    object-fit: cover;
    border-radius: 14px;
}

.sliderPartners {
    display: block;
    white-space: nowrap;
    margin-left: 16px;
    margin-bottom: 50px;
    & div {
        display: inline-block;
    }
}
.itemPartner img {
    width: 90px;
    height: 116px;
    object-fit: cover;
    margin-left: 16px;
}

.textSlider {
    & div {
        background-color: $tagColor;
        padding: 4px 16px;
        border-radius: 8px;
        margin-right: 8px;
        &:hover {
            background-color: $secundaryBlue;
        }
    }
}

.offerImages {
    & div a img {
        width: 100%;
    }
}

//
//bottom nav

#bottomNav {
    display: flex;
    justify-content: center;
}

.floatingNavbarOrganizer {
    height: 3.7rem;
    background-color: $white;
    box-shadow: $borderShaddow;
    border-radius: 40px;
    width: 15.5rem;
    position: fixed;
    bottom: 6%;
    transition: bottom 0.5s;
}

.floatingNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    & a {
        height: 34px;
    }
}

//class to hide bottom nav
.navHidden .floatingNavbarOrganizer {
    bottom: -100vh;
}

//qrcodeSlide

.qrCode {
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.2s ease;
    bottom: -100vh;
}

.slideUpQrcodeON {
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 0.5s ease;
    z-index: 3;
    bottom: 0;
}

.filterDark {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    filter: brightness(0.4);
}

.qrCodeClickOffFormat {
    width: 40px;
    height: 5px;
    background-color: $black;
    border-radius: 100px;
    margin: 24px 0;
}

.qrCodeOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    & div:nth-child(2) {
        font-size: 32px;
        font-weight: 600;
    }
    & div:nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        color: $textGrey;
        margin-bottom: 32px;
    }
    & div:nth-child(5) {
        color: $primary;
        font-size: 20px;
        font-weight: 500;
        margin-top: 42px;
    }
}
//number count on referrals
.progressBar {
    display: flex;
    flex-direction: column;
    padding: 0;
    & li {
        list-style-type: none;
        position: relative;
    }
    & li::before {
        content: "1";
        font-size: 36px;
        font-weight: 600;
        position: absolute;
        width: 64px;
        height: 64px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        background-color: $white;
        text-align: center;
        border-radius: 50%;
        left: 21px;
        //transform: translate( 0%, 0px);
    }
    & li::after {
        content: "";
        height: 50px;
        border-left: 1px dashed $textGrey;
        position: absolute;
        left: 52px;
        z-index: -1;
    }
    & li:nth-child(1):before {
        content: "1";
        color: $iconBlue;
        top: 0;
    }
    & li:nth-child(1):after {
        top: 55px;
    }
    & li:nth-child(2):before {
        content: "2";
        color: #00eca5;
        top: 84px;
    }
    & li:nth-child(2):after {
        top: 144px;
    }
    & li:nth-child(3):before {
        content: "3";
        color: #78df70;
        top: 169px;
    }
}
.referralsStepsText {
    margin-left: 101px;
}

.referralsTitle {
    font-weight: 500;
    margin: 0;
    line-height: 21px;
}
.referralsText {
    font-weight: 400;
    margin: 0;
    margin-bottom: 42px;
    color: $textGrey;
    line-height: 21px;
}
.referralsInfo {
    font-weight: normal;
    margin: 32px 0 0 22px;
    & p {
        margin: 0;
    }
}

.labelIcon {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    & div {
        position: absolute;
        right: 52px;
        top: 14px;
    }

    & input {
        background-color: rgba(198, 198, 198, 0.2);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        border: 0;
        height: 45px;
        width: 80%;
        padding-left: 12px;
    }
}

//cupóes

.historySelection {
    & article:first-of-type {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        background-color: $white;
        margin: 0 14px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
        height: 32px;
    }
}
.stantardOrganizer {
    width: 48%;
    height: 10%;
    text-align: center;
    width: 48%;
    height: 26px;
}
.historyOrganizer {
    text-align: center;
    background-color: $secundaryBlue;
    border-radius: 8px;
    width: 48%;
    height: 26px;
    font-weight: 500;
}
.cuponCard {
    margin: 32px 16px 16px 16px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #d0d0d0;
    background-color: $white;
    padding: 18px;
    & article:nth-child(2) div {
        color: $primary;
        margin: 6px 0;
    }
    & article:nth-child(2) ul {
        font-size: 12px;
        color: $textGrey;
    }
}
.cuponCardTitle {
    display: flex;
    justify-content: space-between;
    & div div:first-child {
        font-weight: 600;
        font-size: 18px;
    }
}

//carteira.html
.linearCircle {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        height: 500px;
        width: 800px;
        border-radius: 50%;
        background-color: $secundaryBlue;
        top: -257px;
        right: -381px;
        z-index: -1;
    }
}

.userCardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(1, 142, 170, 0.04);
    padding: 5%;
    margin: 28px;
}

.userCardTop {
    display: flex;
    align-items: center;
}

.userInfo {
    & p {
        margin: 0;
        margin-left: 16px;
    }
    & p:first-child {
        font-size: 24px;
        font-weight: 600;
    }
    & p:last-child {
        font-size: 12px;
        color: #959595;
        & span {
            color: $primary;
            font-weight: 400;
        }
    }
}

.userGift {
    display: flex;
    & img {
        margin-top: 12px;
    }
    & p {
        margin: 12px 0 0 12px;
        font-size: 12px;
        font-weight: 500;
        & span {
            color: $primary;
        }
    }
}

.offerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    & div:first-child {
        font-size: 26px;
        font-weight: 600;
    }
    & div:last-child {
        font-size: 14px;
        font-weight: 500;
    }
}

//notificacoes.html

.notificationGrey {
    color: $textGrey;
    margin-top: 12px;
}

.notificationBefore {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        border-radius: 50px;
        background-color: #ff6565;
        z-index: 1;
        right: 10px;
        top: 10px;
    }
}

.opacityCard {
    opacity: 0.5;
}

.notificationImg {
    & div a img {
        border-radius: 32px;
        padding: 16px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}
.notificationText {
    margin: 32px;
    & p {
        margin: 0;
    }
    & p:last-child {
        padding-bottom: 50px;
    }
}

//box.html
.progressBar {
    margin: 8px 28px;
    height: 6px;
    width: 280px;
    background-color: $grey;
    border-radius: 8px;
    position: relative;

    & div:first-child {
        height: 6px;
        width: 160px;
        background-color: $primary;
        border-radius: 8px;
    }
    &::before,
    &::after {
        font-size: 12px;
        font-weight: 500;
        top: 5px;
    }
    &:before {
        content: "301";
        position: absolute;
        width: 64px;
        height: 64px;
        left: 140px;
    }
    &:after {
        content: "600";
        position: absolute;
        width: 64px;
        height: 64px;
        left: 258px;
        color: $grey;

    }
}

.boxButton {
    color: $white;
    background-color: $grey;
    padding: 12.5px 61px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.boxText{
    font-weight: 400;
    margin: 40px 28px;
    & p{
        margin:0;
    }
    & ul{
        margin:0;
        padding-left: 24px;
    }
    
}

.boxImg {
    display: flex;
    justify-content: center;
    & div a img {
        border-radius: 32px;
        padding: 16px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}