@import "normalize";
@import "variables";
@import "utils";
@import "grid";

html body {
    margin: 0;
    padding: 0;
}
.navColorFill {
    background-color: $white;
    position: sticky;
    top: 0;
}
.navbarTop {
    height: 3.5rem;
    display: flex;
    & div:first-child {
        margin-top: 4px;
    }
}
.iconOrganizer {
    display: flex;
    justify-content: end;
    & div:first-child {
        margin: 10px 7px 0 0;
    }
    & div:last-child {
        margin: 10px 0 0 7px;
    }
}

.backArrow {
    margin-top: 10px !important;
}

.navbarBottomOrganizer {
    background-color: $white;
    position: sticky;
    bottom: 0;
}

.navbarBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

// .navHidden {
//     transform: translateY(-100px);
// }

.horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

/*this is for chrome / firefox/ opera and safari*/
.horizontal_slider::-webkit-scrollbar {
    display: none;
}

/* for ms*/
.horizontal_slider {
    -ms-overflow-style: none;
}

.slider_container {
    display: block;
    white-space: nowrap;
    margin: 20px;
}

.item {
    display: inline-block;
    margin-right: 24px;
}

.item img {
    width: 290px;
    height: 174px;
    object-fit: cover;
    border-radius: 14px;
}

///////////////////////////////////////
@media (min-width: $desktop) {
}
