@import "normalize";
@import "variables";
@import "utils";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

html body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: $backgroundColorGeneral;
}

//detalheParceria.html
.backgroundImage {
    background-image: url("assets/image\ 295.svg");
    background-size: cover;
    height: 266px;
}

.imageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 217px;
    & div:first-child {
        font-size: 32px;
        font-weight: 600;
        color: $white;
        margin-left: 18px;
    }
    & div:last-child {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        margin-bottom: 32px;
        margin-left: 18px;
    }
}
//top bar
.navColorFill {
    background-color: $white;
    position: sticky;
    top: 0;
}

.navbarTop {
    height: 3.5rem;
    display: flex;
    & div:first-child {
        margin-top: 4px;
    }
}
.iconOrganizer {
    display: flex;
    justify-content: end;
    & div:first-child {
        margin: 10px 7px 0 0;
    }
    & div:last-child {
        margin: 10px 0 0 7px;
    }
}

.backArrow {
    margin-top: 10px !important;
}
//detalheParceria.html
.partnerCardOrganizer {
    display: flex;
    justify-content: center;
}

.partnerCard {
    background-color: $white;
    margin: 16px 18px 24px 18px;
    padding: 18px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);

    & div div a {
        text-decoration: none;
        color: $primary;
    }
}

.tagsOrganizer {
    & article {
        display: flex;
        margin-left: 14px;
    }
}

.tagsContatent {
    background-color: $tagColor;
    border-radius: 99px;
    margin: 4px;
    padding: 8px 16px;
    display: flex;
    & img {
        margin-right: 8px;
    }
}

.partnerButtonOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 50px;

    & div a {
        text-decoration: none;
        color: $black;
    }
}

.partnerButton {
    color: $white;
    background-color: $primary;
    padding: 12.5px 99px;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
}

//sliders horizontais
.horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

/*this is for chrome / firefox/ opera and safari*/
.horizontal_slider::-webkit-scrollbar {
    display: none;
}

/* for ms*/
.horizontal_slider {
    -ms-overflow-style: none;
}

.slider_container {
    display: block;
    white-space: nowrap;
    margin: 20px;
}

.item {
    display: inline-block;
    margin-right: 24px;
}

.item img {
    width: 290px;
    height: 174px;
    object-fit: cover;
    border-radius: 14px;
}


//
//bottom nav

#bottomNav {
    display: flex;
    justify-content: center;
}

.floatingNavbarOrganizer {
    height: 3.7rem;
    background-color: $white;
    box-shadow: $borderShaddow;
    border-radius: 40px;
    width: 12.5rem;
    position: fixed;
    bottom: 6%;
    transition: bottom 0.5s;
}

.floatingNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    & a {
        height: 34px;
    }
}

//class to hide bottom nav
.navHidden .floatingNavbarOrganizer {
    bottom: -100vh;
}

//

@media (min-width: $desktop) {
}
