@import "normalize";
@import "variables";
@import "utils";
@import "grid";

html body {
    margin: 0;
    padding: 0;
}

#main-navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $white;
    transition: transform 0.2s;
}

.navbarTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: $borderShaddow;
}

.currentPoints {
    background-color: $backgroundBlue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 50px;
    width: 52px;
    & div {
        color: $iconBlue;
    }

    & div:last-child {
        background-color: $iconBlue;
        border-radius: 50%;
        height: 5px;
        width: 14px;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 8px;
        border-radius: 50%;
        background-color: $iconBlue;
    }
    &::before {
        top: 2px;
        right: 11px;
    }
    &::after {
        top: 16px;
        right: 11px;
    }
}

.navbarBottomOrganizer {
    background-color: $white;
    position: sticky;
    bottom: 0;
    height: 5.5rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: $borderShaddow;
}

.navbarBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navHidden {
    transform: translateY(-100px);
}

@media (min-width: $desktop) {
}
